@use "../foundation/index" as *;
/*----------------------------------------
  l-header
----------------------------------------*/
.l-header {
  width: 100%;
  height: 100px;
  background: var(--c-background-base);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-header);
  @include under-large {
    height: 60px;
  }
}
.l-header__inner {
  max-width: 1920px;
  padding-right: unset;
  padding-block: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
}
.l-header__logo {
  display: flex;
  align-items: center;
  height: 100%;
  a {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }
    span {
      display: inline-block;
      white-space: nowrap;
      font-size: vwClamp(20, 28, $bp-large, $bp-xx-large);
      font-weight: 700;
    }
  }
}
