@forward "p-fv";
@forward "p-why";
@forward "p-popular";
@forward "p-commitment";
@forward "p-review";
@forward "p-philosophy";
@forward "p-product";
@forward "p-instagram";
@forward "p-contact";
@forward "p-privacy";
@forward "p-thanks";
@forward "p-lineup";
@forward "p-recommend";
@forward "p-kodawari";
@forward "p-voice";
@forward "p-company";
@forward "p-products";

// Award
@forward "p-prize";
@forward "p-media01";
@forward "p-media02";
@forward "p-award02";
@forward "p-award03";
