@use "../../foundation/index" as *;
/*----------------------------------------
  contact
----------------------------------------*/
.p-contact {
  padding-block: vwClamp(20, 50, $bp-xx-small, $bp-xx-large);
}
.p-contact__inner {
  background: var(--c-background);
  padding-block: vwClamp(50, 100, $bp-xx-small, $bp-xx-large);
}

.form__wrap {
  max-width: 560px;
  margin: 0 auto;
}

.p-contact__title {
  font-size: 32px;
  font-weight: bold;
  color: var(--c-text);
  text-align: center;
  margin-bottom: 20px;
}

.p-contact__text {
  font-size: 16px;
  text-align: center;
  color: var(--c-text);
  word-break: keep-all;
}

/* form */
.form__wrap {
  margin-top: 50px;
}
.form__table {
  width: 100%;
}

.form__row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.form__label {
  font-size: 18px;
  font-weight: normal;
  color: var(--c-text);
}
.form__label .required {
  font-size: 14px;
  font-weight: normal;
  margin-left: 10px;
  background: var(--c-accent1);
  padding: 2px 5px;
  border-radius: 2px;
  color: var(--c-white);
}

.form__button {
  text-align: center;
  margin-top: 50px;
}
// .form__button input {
//   background: #fff;
//   color: #0066b2;
//   padding: 10px 20px;
// }

.form__privacy-link {
  margin-top: 10px;
  a {
    color: var(--c-text);
    font-size: 16px;
    text-decoration: underline;
    display: inline-block;
  }
}

.form__privacy {
  margin-top: 20px;
}

.form__privacy-text {
  margin-top: 20px;
  color: var(--c-text);
  font-size: 16px;
}
