@use "../../foundation/index" as *;
/*----------------------------------------
  p-fv
----------------------------------------*/
.p-fv {

  position: relative;
  padding-block: 50px;
  @include under-medium {
    padding-block: 30px;
  }
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    // 背景を暗くしたい場合はつける
    // backdrop-filter: brightness(0.8) blur(2px);
    z-index: 1;
  }
}

.p-fv__inner {
  padding-inline: 70px;
  position: relative;
  z-index: 2;
  @include under-large {
    padding-inline: 50px;
    // max-width: 640px;
  }
  @include under-small {
    padding-inline: 30px;
  }
}

.p-fv__head {
  color: var(--c-white);
  font-size: vwClamp(36, 50, $bp-large, $bp-xx-large);
  text-align: center;
  position: relative;
  z-index: 2;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  @include under-large {
    font-size: vwClamp(20, 36, $bp-xx-small, $bp-large);
  }
}

.p-fv__list {
}

.p-fv__link {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 30px 50px;
  grid-template-areas:
    "title thumb"
    "body thumb";
  @media (any-hover: hover) {
    &:hover {
      opacity: 1;
    }
  }
  @include under-large {
    gap: 20px;
  }
  @include under-medium {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "title"
      "thumb"
      "body";
  }
}

.p-fv__title {
  grid-area: title;
  background: rgba(255, 255, 255, 0.7);
  color: var(--c-black);
  font-size: vwClamp(20, 28, $bp-xx-small, $bp-xx-large);
  font-weight: 700;
  text-align: center;
  padding: 10px;
  word-break: keep-all;
}

.p-fv__body {
  grid-area: body;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.p-fv__body-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include under-medium {
    align-items: center;
  }
}

.p-fv__body-sub-title {
  color: var(--c-white);
  font-size: vwClamp(23, 30, $bp-medium, $bp-xx-large);
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  @include under-medium {
    font-size: vwClamp(20, 30, $bp-xx-small, $bp-medium);
  }
}

.p-fv__body-title {
  color: var(--c-white);
  font-size: vwClamp(28, 45, $bp-medium, $bp-xx-large);
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  @include under-medium {
    text-align: center;
    font-size: vwClamp(22, 40, $bp-xx-small, $bp-medium);
  }
}

.p-fv__body-text {
  color: var(--c-white);
  font-size: vwClamp(16, 22, $bp-xx-small, $bp-xx-large);
  line-height: 1.7;
  font-weight: 700;
  text-align: justify;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.p-fv__thumb {
  grid-area: thumb;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  border: 2px solid var(--c-white);
  img {
    height: 100%;
    object-fit: cover;
  }
}
