@use "../../foundation/index" as *;
/*----------------------------------------
  p-popular
----------------------------------------*/
.p-popular {
  padding-block: vwClamp(50, 100, $bp-medium, $bp-xx-large);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background: var(--c-background);
    z-index: -1;
    @include under-xx-large {
      height: 100%;
    }
  }
}

.p-popular__inner {
  @include under-medium {
    max-width: 640px;
  }
}

.p-popular__item {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  @include under-medium {
    grid-template-columns: 1fr;
  }
}

.p-popular__body {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.p-popular__head {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.p-popular__catch {
  padding: 5px 10px;
  font-size: vwClamp(20, 30, $bp-xx-small, $bp-xx-large);
  font-weight: 700;
  text-align: center;
  background: var(--c-main);
  color: var(--c-white);
  // text-wrap: balance;
  // word-break: auto-phrase;
}

.p-popular__title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.p-popular__title-sub {
  font-size: vwClamp(20, 30, $bp-xx-small, $bp-xx-large);
  font-weight: 700;
  text-align: center;
}

.p-popular__title-main {
  font-size: vwClamp(30, 50, $bp-xx-small, $bp-xx-large);
  font-weight: 700;
  text-align: center;
}

.p-popular__text {
  font-size: vwClamp(16, 18, $bp-xx-small, $bp-xx-large);
  line-height: 1.7;
  text-align: justify;
}

.p-popular__btn-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-inline: auto;
  width: fit-content;
}

.p-popular__btn {
  position: relative;
  span {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    color: var(--c-white);
    font-size: 16px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.p-popular__thumb {
  aspect-ratio: 5 / 6;
  width: 100%;
  overflow: hidden;
  position: relative;
  @include under-medium {
    order: -1;
    aspect-ratio: 4 / 3;
  }
  img {
    height: 100%;
    object-fit: cover;
  }
  .p-popular__thumb-text {
    position: absolute;
    bottom: 10%;
    right: 20px;
    writing-mode: vertical-rl;
    scale: -1;
    color: var(--c-white);
    font-size: vwClamp(14, 24, $bp-xx-small, $bp-xx-large);
    opacity: 0.8;
  }
}
