@use "../../foundation/index" as *;
/*----------------------------------------
  p-why
----------------------------------------*/
.p-why {
  padding-block: vwClamp(25, 50, $bp-medium, $bp-xx-large);
}

.p-why__wrapper {
  margin-top: vwClamp(50, 50, $bp-medium, $bp-xx-large);
}

.p-why__inner {
  @include under-medium {
    max-width: 640px;
  }
}

.p-why__thumb {
  overflow: hidden;
  aspect-ratio: 4 / 3;
  img {
    height: 100%;
    object-fit: cover;
  }
}

.p-why__content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  position: relative;
  @include under-medium {
    margin-top: 50px;
    grid-template-columns: 1fr;
  }
}

.p-why__head {
  margin-top: vwClamp(20, 30, $bp-large, $bp-xx-large);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: vwClamp(10, 20, $bp-large, $bp-xx-large);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  @include under-medium {
    gap: 10px;
    margin-top: unset;
    position: static;
  }
}

.p-why__title {
  background: var(--c-main);
  color: var(--c-white);
  padding: 5px 10px;
  font-size: vwClamp(25, 40, $bp-medium, $bp-xx-large);
  font-weight: 700;
  letter-spacing: 0.2em;
  text-wrap: nowrap;
  @include under-medium {
    width: 100%;
    text-align: center;
    text-wrap: auto;
    word-break: keep-all;
    font-size: vwClamp(20, 30, $bp-xx-small, $bp-large);
  }
}

.p-why__body {
  margin-top: vwClamp(140, 220, $bp-medium, $bp-xx-large);
  display: flex;
  flex-direction: column;
  @include under-medium {
    margin-top: 30px;
    padding-inline: unset;
  }
}

.p-why__text {
  padding-inline: vwClamp(10, 35, $bp-medium, $bp-xx-large) calc(vwClamp(100, 200, $bp-medium, $bp-xx-large));
  font-size: vwClamp(16, 20, $bp-medium, $bp-xx-large);
  line-height: 1.5;
  text-align: justify;
  @include under-medium {
    padding-inline: unset;
  }
}

.p-why__btn {
  padding-left: vwClamp(20, 50, $bp-large, $bp-xx-large);
  width: fit-content;
  margin-top: vwClamp(30, 50, $bp-large, $bp-xx-large);
  @include under-medium {
    padding-left: unset;
    margin-inline: auto;
  }
}

.p-why__img {
  margin-left: -10vw;
  position: relative;
  aspect-ratio: 3 / 2;
  position: relative;
  @include xx-large {
    margin-left: -190px;
  }
  @include under-medium {
    margin-left: unset;
    order: -1;
  }
  img {
    height: 100%;
    object-fit: cover;
  }
}
.p-why__img-text {
  position: absolute;
  bottom: 20px;
  right: 10px;
  font-size: vwClamp(14, 24, $bp-xx-small, $bp-xx-large);
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--c-main);
  writing-mode: vertical-rl;
  transform: scale(-1, -1);
  opacity: 0.7;
  @include under-medium {
    bottom: 30%;
  }
  @include under-x-small {
    bottom: 20%;
  }
}
